.overview .row .one {
    height: 300px;
}
.overview .row .one img {
   width: 100%;
   height: 100%;
   background-size: cover;
   box-sizing: border-box;
   object-fit: cover;
}
.overview .row .one .text-blog {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position:absolute; 
    bottom: 0;
}
.overview .row .one .text-blog p {
letter-spacing: 0.2rem;
line-height: 2px;
}
.overview .row .one .text-blog a {
    text-decoration: none;
    border-style: none;
    color: #fff;
    font-size: 0.9rem;
}

.overview .row .one .text-blog a::after {
content: "";
display: block;
width: 20%;
height: 2px;
background: #306969;
transition: width 0.3s;
}

.blog .row .post a{
    font-size: 0.9rem;
    color: #306969;
    font-weight: bold;
    text-decoration: none;
    border-style: none;
}
.blog .row .sidebar .sidetext h4{
    font-size: 1rem;
}
.blog .row .sidebar .sidetext a{
    text-decoration: none;
    border-style: none;
    color: #306969;
    font-size: 0.8rem;
}
.blog .side-two .one{
    height: 300px;
    position: relative;
}
.blog .side-two .one img{
    width: 100%;
   height: 100%;
   background-size: cover;
   box-sizing: border-box;
   object-fit: cover;
}
.blog .side-two .one .text{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10rem 1.1rem 0 1.1rem;
}
.read-more
{
    background-color: #eef7f7;
}
