@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap%22");
/*--------Master Style----------*/
body{
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #eef7f7;
    font-family: 'Nunito', sans-serif;
}