
$ljus: #eef7f7;
$dark: #102323;
$medium-light:#63B7B7;
$medium-dark:#306969;
$preview-background:  #dfe7e7;
$main-background: #eef7f7;
$preview-hover: #a4aaaa;
 $x-small:300px;
 $small:576px;
 $medium:768px;
 $large:992px;
 $x-large:1200px;
 $biggest:1400px;